In [1]:
import pandas as pd

In [2]:
frame = pd.read_csv('csv/iris.csv', header=0, sep=',')

In [5]:
frame.dtypes

Unnamed: 0        int64
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [16]:
frame.tail(10)

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
140,141,6.7,3.1,5.6,2.4,virginica
141,142,6.9,3.1,5.1,2.3,virginica
142,143,5.8,2.7,5.1,1.9,virginica
143,144,6.8,3.2,5.9,2.3,virginica
144,145,6.7,3.3,5.7,2.5,virginica
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [22]:
frame.loc[[1,4], ['Petal.Width']]

   Petal.Width
1          0.2
4          0.2

In [29]:
frame.ix[[3], ['Sepal.Length']]

   Sepal.Length
3           4.6

In [30]:
frame.shape

(150, 6)

In [31]:
frame = pd.read_csv('csv/Formaldehyde.csv', header=0, sep=',')

In [32]:
frame

   Unnamed: 0  carb  optden
0           1   0.1   0.086
1           2   0.3   0.269
2           3   0.5   0.446
3           4   0.6   0.538
4           5   0.7   0.626
5           6   0.9   0.782

In [34]:
frame['demo'] = [0, 3, 4, 3, 5, 5]

In [35]:
frame

   Unnamed: 0  carb  optden  demo
0           1   0.1   0.086     0
1           2   0.3   0.269     3
2           3   0.5   0.446     4
3           4   0.6   0.538     3
4           5   0.7   0.626     5
5           6   0.9   0.782     5

In [40]:
frame['demo'] = 2, 3, 4, 3, 5, 6

SyntaxError: invalid syntax (<ipython-input-40-0ec2224f1611>, line 1)

In [41]:
frame

   Unnamed: 0  carb  optden  demo
0           1   0.1   0.086     2
1           2   0.3   0.269     3
2           3   0.5   0.446     4
3           4   0.6   0.538     3
4           5   0.7   0.626     5
5           6   0.9   0.782     6

In [42]:
frame['demo'] = (2, 3, 4, 3, 5, 6)

In [43]:
frame

   Unnamed: 0  carb  optden  demo
0           1   0.1   0.086     2
1           2   0.3   0.269     3
2           3   0.5   0.446     4
3           4   0.6   0.538     3
4           5   0.7   0.626     5
5           6   0.9   0.782     6

In [45]:
frame.ix[[1, 2], 'demo']

1    3
2    4
Name: demo, dtype: int64

In [46]:
import numpy as np

In [47]:
x = np.ndarray

In [48]:
x

numpy.ndarray

In [49]:
x.put(1)

TypeError: descriptor 'put' requires a 'numpy.ndarray' object but received a 'int'

In [50]:
x ** 5

TypeError: unsupported operand type(s) for ** or pow(): 'type' and 'int'